/*Tags e divs de todas as páginas*/
html {
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(rgb(35, 1, 1), rgb(75, 3, 3), rgb(116, 5, 5));
}

header {
    background-color: rgb(17, 1, 1);
    padding: 10px;
    margin: -8px;
    height: 100px;
    display: flex;
}

footer {
    background-color: rgb(17, 1, 1);
    padding: 10px;
    margin: -8px;
    height: 150px;
    display: flex;
}

#logo {
    border-radius: 30px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 250px;
    text-align: center;
}

#logo img {
    padding-top: 10px;
    height: 80px;
}

.menus {
    padding-top: 50px;
    padding-left: 60px;
}

.buttons {
    background: linear-gradient(rgb(90, 0, 0), rgb(120, 0, 0));
    color: white;
    font-weight: bold;
    padding: 8px;
    display: inline-block;
    margin: 2px;
    text-decoration: none;
    transition: all 0.1s ease;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

.buttons:hover {
    background: linear-gradient(rgb(50, 0, 0), rgb(80, 0, 0));
}

.buttons:active {
    animation: blink 0.1s;
}

@keyframes blink {
    0%, 100% { background: linear-gradient(rgb(90, 0, 0), rgb(120, 0, 0)); }
    50% { background: linear-gradient(rgb(180, 0, 0), rgb(210, 0, 0)); }
}


#search-container {
    display: flex; /* Alinha o input e o botão horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin-left: auto;
    margin-right: 40px;
}

#search {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 8px; /* Espaçamento entre o input e o botão */
}

#search-btn {
    background-color: linear-gradient(rgb(90, 0, 0), rgb(120, 0, 0)); /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    border: none; /* Remove bordas */
    padding: 8px 12px; /* Preenchimento do botão */
    border-radius: 4px; /* Cantos arredondados */
    cursor: pointer; /* Muda o cursor ao passar por cima */
}

#search-btn:hover {
    background-color:linear-gradient(rgb(50, 0, 0), rgb(80, 0, 0)); /* Cor ao passar o mouse */
}

.banner {
    max-height: 30%;
    margin-top: 30px;
}

.banner .video-background{
   
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
   
}

