html {
    min-height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 221), rgb(255, 255, 173));
}

.logo {
    align-content: center;
    border: 2px solid white;
    max-width: 80px;
    border-radius: 30px;
    margin: 40px;
    margin-left: 350px;
    padding: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.logo img {
    max-width: 80px;
    filter: contrast(0%) brightness(200%);
}