html {
    min-height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(rgb(35, 1, 1), rgb(75, 3, 3), rgb(116, 5, 5));
}

header {
    background-color: rgb(17, 1, 1);
    padding: 5px;
    height: 100px;
    box-shadow: black 10px;
}

.logo {
    align-content: center;
    border: 2px solid white;
    max-width: 80px;
    border-radius: 30px;
    margin: 40px;
    margin-left: 200px;
    padding: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.banner {
    margin-top: 30px;
}

.banner img{
    align-self: center;
    max-width: 100%;
}
